*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease-in;
  text-align: center;
}
body{
  text-align: center;
}
#section1{
  background-image: url(/images/background1.jpg);
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
  height: 97vh;
}
#background1{
  padding-top: 25vh;
  padding-bottom: 25px;
}
#mouse{
  padding-top: 140px;
  animation: bounce 5s infinite;
}
#section2{
  margin: 60px auto;
  }
  #section3{
    background-image: url(images/background2.jpg);
    color: #fff;
    padding: 100px 10%;
  }
  